body {
  background-image: url('https://i.imgur.com/Dr3hVMr.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 80%;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Dancing Script', 'cursive';
  text-align: center;
}
